{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "no-param-reassign": 0,
    "comma-dangle": [2, "never"],
    "import/extensions": [
      2, "never",
      {
        "json": "always"
      }
    ]
  }
}
